 // talk small card

 .talk {

     & {
         width: 1111px;
         border-radius: 15px;
         padding: 72px 95px 72px 95px;
         transform: translate(135px, -222px);
         background-color: $peach;
         position: absolute;
     }

     &__container {
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     &__wrapper {
         width: 459px;
     }

     &__name {
         width: 268px;
         margin-bottom: 10px;
         @include medium-text;
         color: $white;
         line-height: 40px;
         letter-spacing: 0;
     }

     &__info {
         @include regular-text;
         color: $white;
     }

     &__btn {
         height: 56px;
         padding: 17px 18px;
         @include dark-button;
         @include button-text;
     }

     &__btn:hover {
         @include button-hover;
     }

     &__btn:active {
         @include button-active;
     }

     &__btn-wrapper::before {
         content: url(/images/double-circle.svg);
         position: absolute;
         z-index: -1;
         top: 0;
         right: 0;
     }

     &__btn-wrapper::after {
         content: url(/images/triple-circle.svg);
         position: absolute;
         z-index: -1;
         bottom: -10px;
         right: 0;
     }

 }